.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &__label {
    display: none;
  }

  &:nth-child(3) {
    margin-top: auto;
  }

  &__icon:hover {
    path,
    circle {
      stroke: $color-light-purple;
    }
  }

  &__icon--active,
  &__icon--active:hover {
    path,
    circle {
      stroke: $color-purple;
    }
  }
}


