.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: linear-gradient(-109.167deg, #dadada 0%, #ffffff 22%, #ededed 100%);
  border-radius: 12px;
}
