.message-group {
  display: grid;

  gap: 10px;
  grid-template-columns: 34px 1fr;
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 34px;
    height: 34px;
    overflow: hidden;

    border-radius: 50%;

    img {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    gap: 5px;
  }
}
