.photos {
  display: grid;
  overflow: hidden;

  border-radius: 10px;

  grid-template-columns: repeat(2, 1fr);

  &__item:nth-child(odd):first-child {
    grid-column: span 2;
  }

  &__item .ant-image {
    width: 100%;
  }
}
