@import "@styles/variables.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;

  text-align: center;

  h1 {
    font-size: 32px;
  }

  p {
    margin-bottom: 22px;

    font-size: 12px;
    color: $color-gray;
  }

  form {
    gap: 10px;
  }

  a {
    align-self: center;
    width: fit-content;

    font-size: 12px;
    color: $color-purple;
    text-decoration: none;
  }

  a:visited {
    color: $color-light-purple;
  }

  a:hover {
    text-decoration: underline;

    opacity: 0.8;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width: 310px;

  gap: 10px;

  &__group {
    display: grid;

    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  .error {
    font-size: 12px;
    color: $color-red;
  }

  &__forgot {
    font-size: 12px;
  }

  &__addon {
    font-size: 12px;
    color: $color-default-black;
  }

  &__success {
    font-size: 12px;
    color: $color-spring;
  }

  &__error {
    font-size: 12px;
    color: $color-red;
  }
}
