.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 24px 20px 24px;

  gap: 14px;

  input {
    height: 52px;

    font-size: 17px;

    border-radius: 18px;
  }

  input:hover,
  input:focus,
  input:focus-within {
    border-width: 1px;
    border-color: $color-nobel;
    box-shadow: none;
  }
}
