@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Colors
// --------------------------------------------

// Default

$color-default-black: #2c2c2c;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-bush: #551a8b;
$color-light-purple: #916ddf;
$color-purple: #7428ba;
$color-cod-gray: #1a1a1a;
$color-gray: #7f7f7f;
$color-nobel: #b3b3b3;
$color-alto: #d9d9d9;
$color-spring: #14f195;
$color-aquamarine: #47ffb2;
$color-gallery: #f0f0f0;
$color-concrete: #f2f2f2;
$color-shamrock: #27da90;
$color-red: #ff2518;

// Typography
// --------------------------------------------

$font-inter: "Inter", sans-serif;
